<html>
    <head>
        <script src="../scripts/extensions.js"></script>
        <script src="../scripts/program.js"></script>
        <script src="../libs/grid.js"></script>
        <script src="../libs/version.js"></script>
        <script src="../libs/detector.js"></script>
        <script src="../libs/formatinf.js"></script>
        <script src="../libs/errorlevel.js"></script>
        <script src="../libs/bitmat.js"></script>
        <script src="../libs/datablock.js"></script>
        <script src="../libs/bmparser.js"></script>
        <script src="../libs/datamask.js"></script>
        <script src="../libs/rsdecoder.js"></script>
        <script src="../libs/gf256poly.js"></script>
        <script src="../libs/gf256.js"></script>
        <script src="../libs/decoder.js"></script>
        <script src="../libs/qrcode.js"></script>
        <script src="../libs/findpat.js"></script>
        <script src="../libs/alignpat.js"></script>
        <script src="../libs/databr.js"></script>
        <script src="../scripts/background.js"></script>
    </head>
    <body>
    </body>
</html>